@import "../../node_modules/nib/index.styl"

button.negative {
  size 75px
  border 1px solid #000
  border-radius 10px
  outline none
  padding: 0
  vertical-align: text-bottom
  font-size: 20px
  opacity: 0.5
  margin-right: 20px

  &.active {
    opacity: 1
    box-shadow: 0 0 20px #8c8c8c;
  }
}


.big, .reg
  display: inline-block
  width: 50%

section
  padding: 10px
  box-sizing border-box

  h2
    font-size: 20px
    font-weight: bold
    padding: 5px 0

table
  width: 100%;
  table-layout: fixed;
  th, td
    padding: 10px
    font-size: 1.3rem

