
<section class="big">
  <h2>Big</h2>
  <app-counter [digit]="2" (change)="onBigChange($event)"></app-counter>
</section>

<section class="reg">
  <h2>Reg</h2>
  <app-counter [digit]="2" (change)="onRegChange($event)"></app-counter>
</section>

<section class="total">
  <h2>総回転数</h2>
  <app-counter [digit]="5" (change)="onTotalChange($event)"></app-counter>
</section>

<section class="coin">
  <h2>差枚数</h2>
  <button class="negative" [class.active]="isNegative" (click)="toggleNegative()">-</button>
  <app-counter [digit]="4" (change)="onCoinChange($event)"></app-counter>
</section>

<table>
  <thead>
  <tr>
    <th>玉持</th>
    <th>Big率</th>
    <th>Reg率</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{durationRate}}</td>
    <td>{{bigRate}}</td>
    <td>{{regRate}}</td>
  </tr>
  </tbody>
</table>
